.Surfline-card {
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    left: 0;
    right: 0;
    //resize:none;
}

.Surfline-header{
    display: inline-flex;
    border: 1px solid gray;
    border-radius: 5.5px;

    .Surfline-location {
        width: 240px;
    }

    .Surfline-arrow-btn {
        position: relative;
    }
}